
body {
    font-family: 'Arial', sans-serif;
    background-image: url('../image/3.jpg');
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.register-link {
    margin-top: 10px;
    text-align: center;
}

.register-link a {
    color: #3498db;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

.login-image {
    margin-top: 10px;
}

.form-group-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form-group-2 input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.message-container {
    color: red;
    margin-top: 10px;
}

